# --- Python Basics ---
__pycache__/
*.py[cod]
*.so

# --- Virtual Environment (CRITICAL) ---
# Matches your folder name from the screenshot
.venv/
venv/
env/

# --- JetBrains IDE (CRITICAL) ---
# Keeps your personal editor settings local
.idea/
*.iml

# --- Operating System Junk ---
Thumbs.db
.DS_Store

# --- Environment Variables (Security) ---
.env

# Ignore Terraform heavy files
PHASE4/.terraform/
PHASE4/*.tfstate
PHASE4/*.tfstate.backup
PHASE4/.terraform.lock.hcl

# Ignore Python heavy files
*.pyc










